:root {
    --raleway:'Raleway', sans-serif;
    --cinza-escuro: #464646;
    --azul-claro:#d4e6ff;
    --gelo:#ffffff;
    --azul-botao: #2A7AE4;
}
body {
    background:no-repeat  #e7e7e7;
    font-family:var(--raleway);
    text-align: center;
}
.container {
    padding: 0.5rem;
}
.fonte-leve {
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
.font-pesada {
    font-weight: 800;
    color: var(--cinza-escuro);
    font-size: 0.85rem;
}
.seta{
    width: 0.4rem;
    color: black;
}
a{
    color: black;
}
.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.apresentacao__nome {
    font-weight: 800;
    color: var(--cinza-escuro);
}
.apresentacao__email{
margin-top: 0.6rem;
}
.introducao__texto{
    margin-top: 0.5rem;
}
.introducao__imagem {
    width: 5rem;
    border-radius: 50%;

}
.introducao__social {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}
.sobre {
    background-color: var(--azul-claro);
    width: 100vw;
    text-align:start; 
}
.sobre__texto {
    margin-bottom: 1rem;
}
.skills, .hobbies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skills__items, .hobbies__items {
    background-color: var(--gelo);
    width: 30%;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 2rem;
    padding: 5%;
}
.skills__items:hover, .hobbies__items:hover {
    border-bottom: solid var(--azul-botao);
    
}
.formacoes {
    background-color: var(--azul-claro);
}
.formacoes__conteudo {
    justify-content: space-between;
}
.formacoes__imagens {
    margin:1rem 10%;
    width: 80%;
}
.experiencias {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.experiencias p {
    margin-bottom: 30px;
}
.experiencias__imagens {
    max-width: 700px;
    margin:1rem 10%;
    width: 80%;
}
.contato {
    background-color: var(--azul-claro);
    display: flex;
    flex-direction: column;
    text-align: start;
}
.contato__entrada {
    border: none;
    width: 70%;
    padding: 1rem;
    border-radius: 5px;
}
.contato__entrada:hover,  .contato__entrada.ativo {
    border-bottom: 3px solid var(--azul-botao);
}
.contato__texto {
    font-weight: 600;
    color: var(--azul-botao);
}
.contato__textoarea {
    border: none;
    resize: none;
    margin-top: 1rem;
    width: 80%;
    border-radius: 5px;
}
.botao-link {
    font-size: 0.7rem;
    padding: .28rem;
    color: var(--azul-botao);
    border: solid 2px var(--azul-botao);
}
.botao-demo {
    font-size: 0.7rem;
    border: none;
    padding: .4rem;
    color: var(--gelo);
    background-color: var(--azul-botao);
}
.botao-contato {
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: var(--gelo);
    background-color: var(--azul-botao);
    margin-top: 1rem;
    width: 50%;
}
footer {
    background-color: var(--gelo);
    text-align: center;
}
@media screen and (min-width:768px) {
    .apresentacao__email{
        margin-top: 0;
        }
    .introducao__texto{
        margin-top: 1rem;
    }
    .introducao {
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .introducao__imagem{
    float: right;
    width: 9rem;
    }
    .introducao__social {
        margin-top: 2.5rem;
    }
    .sobre{
        padding: 1rem;
    }
    .skills__items,.hobbies__items {
        width: 20%;
    }
    .formacoes__conteudo {
        display: flex;
        flex-direction: row;
    }
    .fonte-leve {
       
        font-size: 1.2rem;
    }
    .font-pesada {
       
        font-size:1.5rem;
    }
}
@media screen and (min-width:1024px) {
    .container{
        padding: 1.5rem;
    }
    .introducao__texto{
        margin-top: 2.5rem;
    }
    .introducao__imagem{
        width: 12rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .sobre{
        padding: 2rem 1rem;
    }
    .fonte-leve {
       
        font-size: 1.8rem;
    }
    .font-pesada {
       
        font-size:2.3rem;
    }
    .experiencias{
        display: flex;
        flex-direction: row;
    }
}
